/* About as basic as it gets */
body {
    background-color: darkgray;
}
.mtitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.linksub {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.link {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Link Hover border*/
a:hover{
    border:1px solid blue;
}